<center><img src="car.jpg" width=500></center>


Insurance companies invest a lot of time and money into optimizing their pricing and accurately estimating the likelihood that customers will make a claim. In many countries insurance it is a legal requirement to have car insurance in order to drive a vehicle on public roads, so the market is very large!

(`Source: https://www.accenture.com/_acnmedia/pdf-84/accenture-machine-leaning-insurance.pdf`) 

Knowing all of this, On the Road car insurance have requested your services in building a model to predict whether a customer will make a claim on their insurance during the policy period. As they have very little expertise and infrastructure for deploying and monitoring machine learning models, they've asked you to identify the single feature that results in the best performing model, as measured by accuracy, so they can start with a simple model in production.

They have supplied you with their customer data as a csv file called `car_insurance.csv`, along with a table detailing the column names and descriptions below.



## The dataset

| Column | Description |
|--------|-------------|
| `id` | Unique client identifier |
| `age` | Client's age: <br> <ul><li>`0`: 16-25</li><li>`1`: 26-39</li><li>`2`: 40-64</li><li>`3`: 65+</li></ul> |
| `gender` | Client's gender: <br> <ul><li>`0`: Female</li><li>`1`: Male</li></ul> |
| `driving_experience` | Years the client has been driving: <br> <ul><li>`0`: 0-9</li><li>`1`: 10-19</li><li>`2`: 20-29</li><li>`3`: 30+</li></ul> |
| `education` | Client's level of education: <br> <ul><li>`0`: No education</li><li>`1`: High school</li><li>`2`: University</li></ul> |
| `income` | Client's income level: <br> <ul><li>`0`: Poverty</li><li>`1`: Working class</li><li>`2`: Middle class</li><li>`3`: Upper class</li></ul> |
| `credit_score` | Client's credit score (between zero and one) |
| `vehicle_ownership` | Client's vehicle ownership status: <br><ul><li>`0`: Does not own their vehilce (paying off finance)</li><li>`1`: Owns their vehicle</li></ul> |
| `vehcile_year` | Year of vehicle registration: <br><ul><li>`0`: Before 2015</li><li>`1`: 2015 or later</li></ul> |
| `married` | Client's marital status: <br><ul><li>`0`: Not married</li><li>`1`: Married</li></ul> |
| `children` | Client's number of children |
| `postal_code` | Client's postal code | 
| `annual_mileage` | Number of miles driven by the client each year |
| `vehicle_type` | Type of car: <br> <ul><li>`0`: Sedan</li><li>`1`: Sports car</li></ul> |
| `speeding_violations` | Total number of speeding violations received by the client | 
| `duis` | Number of times the client has been caught driving under the influence of alcohol |
| `past_accidents` | Total number of previous accidents the client has been involved in |
| `outcome` | Whether the client made a claim on their car insurance (response variable): <br><ul><li>`0`: No claim</li><li>`1`: Made a claim</li></ul> |

- Identify the single feature of the data that is the best predictor of whether a customer will put in a claim (the "outcome" column), excluding the "id" column.
- Store as a DataFrame called best_feature_df, containing columns named "best_feature" and "best_accuracy" with the name of the feature with the highest accuracy, and the respective accuracy score.

In [2]:
# Import required modules
import pandas as pd
import numpy as np
from statsmodels.formula.api import logit

# Start coding!
df = pd.read_csv('car_insurance.csv')

In [3]:
df.head()

,id,age,gender,driving_experience,education,income,credit_score,vehicle_ownership,vehicle_year,married,children,postal_code,annual_mileage,vehicle_type,speeding_violations,duis,past_accidents,outcome
0,569520,3,0,0-9y,high school,upper class,0.629027,1.0,after 2015,0.0,1.0,10238,12000.0,sedan,0,0,0,0.0
1,750365,0,1,0-9y,none,poverty,0.357757,0.0,before 2015,0.0,0.0,10238,16000.0,sedan,0,0,0,1.0
2,199901,0,0,0-9y,high school,working class,0.493146,1.0,before 2015,0.0,0.0,10238,11000.0,sedan,0,0,0,0.0
3,478866,0,1,0-9y,university,working class,0.206013,1.0,before 2015,0.0,1.0,32765,11000.0,sedan,0,0,0,0.0
4,731664,1,1,10-19y,none,working class,0.388366,1.0,before 2015,0.0,0.0,32765,12000.0,sedan,2,0,1,1.0

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   10000 non-null  int64
 1   age                  10000 non-null  int64
 2   gender               10000 non-null  int64
 3   driving_experience   10000 non-null  object
 4   education            10000 non-null  object
 5   income               10000 non-null  object
 6   credit_score         9018 non-null   float64
 7   vehicle_ownership    10000 non-null  float64
 8   vehicle_year         10000 non-null  object
 9   married              10000 non-null  float64
 10  children             10000 non-null  float64
 11  postal_code          10000 non-null  int64
 12  annual_mileage       9043 non-null   float64
 13  vehicle_type         10000 non-null  object
 14  speeding_violations  10000 non-null  int64
 15  duis                 10000 non-null  int64
 16  past_accidents       10000 non-null  int64
 17  outcome              10000 non-null  float64
dtypes: float64(6), int64(7), object(5)
memory usage: 1.4+ MB

In [ ]:
def find_accuracy(feature, target):
    """
    This function takes a feature and a target variable,
    fits a logistic regression model, and returns the accuracy.
    """
    # Fit the logistic regression model
    model = logit(f'{target} ~ {feature}', data=df).fit()
    
    # Predict probabilities
    df['predicted_prob'] = model.predict(df[feature])
    
    # Classify predictions based on a threshold of 0.5
    df['predicted_class'] = (df['predicted_prob'] > 0.5).astype(int)
    print(df[[feature, target, 'predicted_prob', 'predicted_class']].head())

    # Calculate accuracy
    accuracy = np.mean(df['predicted_class'] == df[target])
    
    return accuracy

In [33]:
find_accuracy('driving_experience', 'outcome')

Optimization terminated successfully.
         Current function value: 0.467092
         Iterations 8
  driving_experience  outcome  predicted_prob  predicted_class
0               0-9y      0.0        0.628045                1
1               0-9y      1.0        0.628045                1
2               0-9y      0.0        0.628045                1
3               0-9y      0.0        0.628045                1
4             10-19y      1.0        0.238557                0
0.7771

np.float64(0.7771)

In [15]:
list_features = ['age', 'gender', 'driving_experience', 'education', 'income',
       'credit_score', 'vehicle_ownership', 'vehicle_year', 'married',
       'children', 'postal_code', 'annual_mileage', 'vehicle_type',
       'speeding_violations', 'duis', 'past_accidents']

In [17]:
for i in list_features:
    accuracy = find_accuracy(i, 'outcome')
    print(f'Accuracy for {i}: {accuracy:.2f}')  # Print accuracy with two decimal places

Optimization terminated successfully.
         Current function value: 0.511794
         Iterations 6
Accuracy for age: 0.77
Optimization terminated successfully.
         Current function value: 0.615951
         Iterations 5
Accuracy for gender: 0.69
Optimization terminated successfully.
         Current function value: 0.467092
         Iterations 8
Accuracy for driving_experience: 0.78
Optimization terminated successfully.
         Current function value: 0.603742
         Iterations 5
Accuracy for education: 0.69
Optimization terminated successfully.
         Current function value: 0.531499
         Iterations 6
Accuracy for income: 0.74
Optimization terminated successfully.
         Current function value: 0.567469
         Iterations 6
Accuracy for credit_score: 0.71
Optimization terminated successfully.
         Current function value: 0.552412
         Iterations 5
Accuracy for vehicle_ownership: 0.74
Optimization terminated successfully.
         Current function value: 0.572668
         Iterations 6
Accuracy for vehicle_year: 0.69
Optimization terminated successfully.
         Current function value: 0.586659
         Iterations 5
Accuracy for married: 0.69
Optimization terminated successfully.
         Current function value: 0.595431
         Iterations 5
Accuracy for children: 0.69
Optimization terminated successfully.
         Current function value: 0.617345
         Iterations 5
Accuracy for postal_code: 0.69
Optimization terminated successfully.
         Current function value: 0.601906
         Iterations 5
Accuracy for annual_mileage: 0.69
Optimization terminated successfully.
         Current function value: 0.621700
         Iterations 5
Accuracy for vehicle_type: 0.69
Optimization terminated successfully.
         Current function value: 0.558922
         Iterations 7
Accuracy for speeding_violations: 0.69
Optimization terminated successfully.
         Current function value: 0.598699
         Iterations 6
Accuracy for duis: 0.69
Optimization terminated successfully.
         Current function value: 0.549220
         Iterations 7
Accuracy for past_accidents: 0.69

In [19]:
best_feature_df = pd.DataFrame({'best_feature': 'driving_experience', 'best_accuracy': 0.78}, index=[0])

In [20]:
best_feature_df

         best_feature  best_accuracy
0  driving_experience           0.78